.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.hero {
  margin-top: 79px;

  &-block {
    display: flex;
    align-items: center;
    gap: 40px;

    &__info {
      max-width: 563px;
    }

    &__footer-text {
      font-size: 13px;
      color: #8f8f8f;
      line-height: 16px;
      margin-top: 16px;
    }
  }

  &-form {
    position: relative;

    &-block {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 16px;

      div:first-child {
        width: 100%;
      }
    }

    &-btn {
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 21px;

      &--inherit {
        position: relative;
        background-color: inherit;
        display: flex;
        align-items: center;
        border: 1px solid #0584fe;
        border-radius: 7px;
        font-size: 18px;
        color: #000;
        padding: 11px 20px;
        gap: 5px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          border-color: #fd8301;
        }

        &-time {
          color: #1253a2;
          font-size: 15px;
        }
      }
    }
  }
}

.title {
  font-size: 41px;
  line-height: 49px;
  margin-bottom: 24px;
  letter-spacing: 0.1px;
}

@media (max-width: 1439px) {
  .hero-form-block {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }

  .hero-form-btn {
    flex-direction: column;
    gap: 10px;

    button {
      width: 100%;
    }
  }
}

@media (max-width: 1023px) {
  .title {
    text-align: center;
  }

  .hero-block__footer-text {
    text-align: center;
  }

  .hero-img {
    display: none;
  }

  .hero-block {
    display: block;
    width: 100%;
  }

  .hero-block__info {
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 35px;
  }
}

@media (max-width: 375px) {
  .title {
    line-height: 1;
  }
}

@media (max-width: 320px) {
  .hero-form-btn--inherit-time {
    display: none;
  }
}